<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>

  <a href="/">Home</a>
  <a href="/places">Places</a>
  <a href="/store">Store</a>
  <a href="/contact">Contact</a>
  <a href="/chapatigallery">Chapati Gallery</a>
  <a href="/peoplegallery">People Gallery</a>

  {{#if user}}
  <a href="/private/profile">Profile</a>
  <a href="/private/mycart">My cart</a>
  <a href="/auth/logout">Log out</a>
  {{else}}
  <a href="/auth/signupbackpacker">Sign up backpacker</a>
  <a href="/auth/signuphost">Sign up host</a>
  {{/if}}

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>
</html>