<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/all.min.css">
    <meta name="theme-color" content="#fafafa">
  <script>var __adobewebfontsappname__='dreamweaver'</script>
  <script src='http://use.edgefonts.net/montserrat:n4:default;source-sans-pro:n2:default.js' type='text/javascript'></script>
</head>

<body>  

  <nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div id="mySidenav" class="sidenav">
      <a href="/#project" id="proyecto">PROYECTO</a>
      <a href="/#testimonials" id="fundadores">CREADORES</a>
      <a href="/#volunteerings" id="voluntariados">PARTICIPA</a>
      <a href="/places" id="comunidades">COMUNIDADES</a>
      <a href="/store" id="tienda">TIENDA</a>
      <a href="/#photos" id="fotos">FOTOS</a>
    </div>
    <div style="margin-left:120px;"></div>

      
    <div class="container">
      <a class="navbar-brand" href="/">Chapati</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">

          {{#if user}}
          
          <li class="nav-item">
            <a id="cart" class="cart nav-link" data-totalitems="0" href="/private/mycart">
              <img height="40" src="/images/shop.png" alt="">
            </a>
          </li>
          <li id="profile-btn" class="nav-item">
            <a class="nav-link" href="#">
              <img height="40" src="/images/login.png" alt="">
            </a>
            <ul class="inner-menu">
              <li class="nav-item">
                <a class="nav-link" href="/private/profile">Mi perfil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/auth/logout">Cerrar sesión</a>
              </li>
            </ul>
          </li>
          
          {{else}}
    
          <li id="unite-btn" class="nav-item active">
            <a class="nav-link" href="#">UNITE</a>
            <ul class="inner-menu">
              <li class="nav-item active">
                <a class="nav-link" href="/auth/signupbackpacker">Voluntari@</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/auth/signuphost">Host</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a id="login-btn" class="nav-link" href="#">LOG IN</a>
          </li>
          
          {{/if}}

        </ul>
      </div>
    </div>
  </nav>

  <div id="login-pop-up">
    <h1>Log in</h1>

    <form action="/auth/login" method="post">
      <label for="email">Email:</label>
      <input placeholder="Tu email" type="email" name="email" id="email">
      <br>
      <label for="password">Contraseña:</label>
      <input placeholder="Tu contraseña" type="password" name="password" id="password">    
      <br>
      {{#if errorMessage}}
      <div class="error-message">{{errorMessage}}</div>
      {{/if}}
      <button type="submit">Log in</button>

      <p> - or -</p>
      <div id="auth-social">
        <button class="google-btn"><a href="/auth/google">Unite con Google</a></button>
        <button class="facebook-btn"><a href="/auth/facebook">Unite con Facebook</a></button>
      </div>

    </form>
  </div>

  {{{body}}}


<footer id="footer">
  <div class="copyright">
    <p>Chapati 2020 &copy;</p>
  </div>
  <div class="redes">
    <p>Contactate con nosotr@s: </p>
    <a href="tel:646-637-4077"><i class="fab fa-whatsapp"></i></a>
    <a target="_blank" href="https://www.instagram.com/chapati.delta/"><i class="fab fa-instagram"></i></a>
    <a target="_blank" href="mailto:chapatidelta@gmail.com"><i class="far fa-envelope"></i></a>
  </div>
</footer>

  <script src="/javascripts/script.js"></script>

</body>
</html>