<main id="places-page" class="my-articles-page">

  <div class="container  inner-page container-places">
    <div class="titulo">
      <h2>Mis Artículos</h2>
      <a href="/private/profile">Mi perfil</a>
    </div>
    <hr>

  <div id="cart-products">
    <h3>Artículo</h3>
    <h3>Precio</h3>
    <h3>Cantidad</h3>
  </div>

  {{#each cart}}
  <div class="cart-prod">
    <div><h3 class="cart-prod-name">{{name}}</h3></div>
    <div><p class="cart-prod-price">$ <span>{{price}}</span></p></div>
    <div><input class="qty" name="qty" type="number" min="1" placeholder="1"></div>
    <div><a href="/private/store/{{_id}}/delete"><i class="fas fa-trash-alt"></i></a></div> 
  </div>

  {{/each}}
  <div class="cart-total">
    <div>
      <div data-toggle="tooltip" data-placement="left" title="Borrar todos"><a href="/private/store/deleteall"><i class="fas fa-trash-alt"></i></a></div> 
      <h4>Total: $<span id="total-cart">0</span></h4>
    </div>
    <a href="/private/store/buy"><button class="btn-delineado">Pagar</button></a>
  </div>

  <div>
    <a href="/store">Comprar otros artículos</a>
  </div>


</div>
</main>