#mySidenav a {
  position: absolute;
  left: -100px;
  transition: 0.3s;
  padding: 10px;
  width: 160px;
  text-decoration: none;
  font-size: 15px;
  color: #000000;
  border-radius: 0 5px 5px 0; }

#mySidenav a:hover {
  left: 0; }

#proyecto {
  top: 180px;
  background-color: #bb492f; }

#voluntariados {
  top: 240px;
  background-color: #d3833E; }

#tienda {
  top: 300px;
  background-color: #fee264; }

.sb-link {
  display: flex;
  height: 50px;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #bb5555;
  transition: background .3s; }

.sb-link:hover,
.sb-link:focus,
.sb-link:active {
  background: #f7f7f7; }

View Compiled
Resources
.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.carousel-caption {
  bottom: 270px; }

.carousel-caption h5 {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px; }

.carousel-caption p {
  width: 75%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9; }

.navbar-light .navbar-brand {
  color: #899f4A;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px; }

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: #899f4A; }

.navbar-light .navbar-nav .nav-link {
  color: #899f4A; }

.navbar-toggler {
  background: #899f4A; }

.navbar-nav {
  text-align: center; }

.nav-link {
  padding: .2rem 1rem; }

.nav-link.active, .nav-link:focus {
  color: #fff; }

.navbar-toggler {
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0.3; }

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #fff; }

/* PROJECT */
#project {
  background-color: #d3a83E; }

.basic-1 {
  padding-top: 6.5rem;
  padding-bottom: 3rem; }

.basic-1 .text-container {
  margin-bottom: 3rem; }

.basic-1 .section-title {
  margin-bottom: 0.5rem; }

.basic-1 h2 {
  margin-bottom: 1.375rem; }

/* Hover Animation */
.basic-1 .image-container {
  overflow: hidden;
  border-radius: 0.25rem; }

.basic-1 .image-container img {
  margin: 0;
  border-radius: 0.25rem;
  transition: all 0.3s; }

.basic-1 .image-container:hover img {
  -moz-transform: scale(1.15);
  -webkit-transform: scale(1.15);
  transform: scale(1.15); }

#login-pop-up {
  display: none;
  position: absolute;
  right: 100px;
  top: 100px;
  width: 500px;
  height: 400px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  opacity: .9;
  z-index: 4; }

#login-pop-up label {
  width: 100%; }

#login-pop-up p {
  display: block;
  width: 100%;
  text-align: center; }

/*===================== Cart =====================*/
.cart-prod {
  width: 100%;
  background-color: gray;
  margin: 15px 0;
  padding: 10px; }

.cart-prod-name {
  display: inline-block; }

.cart-prod-price {
  display: inline-block; }

.cart-total {
  width: 100%;
  background-color: green;
  margin: 15px 0;
  padding: 10px;
  text-align: right; }

/*# sourceMappingURL=style.css.map */