@charset "UTF-8";
/* Globales */
.inner-page {
  margin-top: 100px; }

/* HOMEPAGE */
/*===================== Sidebar Menu =====================*/
#mySidenav a {
  position: absolute;
  left: -100px;
  transition: 0.3s;
  padding: 10px;
  width: 160px;
  text-decoration: none;
  font-size: 15px;
  color: #000000;
  border-radius: 0 5px 5px 0; }

#mySidenav a:hover {
  left: 0; }

#proyecto {
  top: 180px;
  background-color: #AFA77B; }

#fundadores {
  top: 240px;
  background-color: #ffffff; }

#voluntariados {
  top: 300px;
  background-color: #d3833E; }

#tienda {
  top: 360px;
  background-color: #fee264; }

#fotos {
  top: 420px;
  background-color: gray; }

/*===================== Topbar Menu y Carousel =====================*/
.sb-link {
  display: flex;
  height: 50px;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #bb5555;
  transition: all .3s ease; }

.sb-link:hover,
.sb-link:focus,
.sb-link:active {
  background: #f7f7f7; }

View Compiled Resources .carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.carousel-caption {
  bottom: 270px; }

.carousel-caption h5 {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px; }

.carousel-caption p {
  width: 75%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9; }

nav {
  background-color: rgba(0, 0, 0, 0.8); }

.navbar-light .navbar-brand {
  color: #899f4A;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px; }

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #899f4A; }

.navbar-light .navbar-nav .nav-link {
  color: #899f4A; }

.navbar-toggler {
  background: #899f4A; }

.navbar-nav {
  text-align: center; }

.nav-link {
  padding: .2rem 1rem; }

.nav-link.active,
.nav-link:focus {
  color: #fff; }

.navbar-toggler {
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0.3; }

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #fff; }

/* PROJECT VIEW */
.section-title {
  font-size: 5em; }

.basic-1 {
  padding-top: 100px; }

.basic-1 {
  height: 800px; }

.basic-1 .text-container {
  margin-bottom: 30rem; }

/* Hover Animation */
.basic-1 .image-container {
  overflow: hidden;
  border-radius: 0.25rem;
  padding-bottom: 0px; }

.basic-1 .image-container img {
  margin: 300;
  transition: all 0.3s; }

.basic-1 .image-container:hover img {
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.15);
  transform: scale(1.15); }

.projectext {
  font-size: 20px;
  text-align: justify;
  white-space: pre-line;
  font-family: sans-serif; }

/* columns -creators */
h3 {
  text-align: center;
  font-size: 30px;
  padding-top: 50px; }

#testimonials {
  box-sizing: border-box;
  color: #000000;
  padding-top: 0px;
  align-items: center; }

#test-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1.5rem auto;
  width: 65%;
  max-width: 1300px;
  padding-top: 100px; }

#comments {
  margin-bottom: 50px;
  width: 310px; }

.top-box {
  background-color: #59772f;
  width: 300px;
  height: 163px;
  position: absolute;
  z-index: 5; }

#founders {
  border-radius: 70%;
  border: 3px soild #D4D4D4;
  width: 133px;
  height: 133px;
  object-fit: cover;
  position: relative;
  display: block;
  margin: auto;
  margin-bottom: 50px;
  top: 15px;
  left: -25px;
  z-index: 5; }

.bottom-box {
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.16);
  width: 300px;
  height: 308px;
  transform: translateY(-50px); }

.blockquote {
  margin-top: 0 auto;
  padding-top: -1000px;
  width: 500px; }

#opinion {
  font-style: italic;
  font-size: 18px;
  line-height: 21px;
  padding-top: 70px;
  text-align: center; }

.test-details {
  text-align: center; }

span {
  font-size: 18px;
  font-weight: 500; }

/* Volunteering */
#volunteering {
  background-color: #d3833E;
  height: 900px; }

#volunteering {
  box-sizing: border-box; }

/* Float four columns side by side */
.column {
  float: right;
  width: 45%;
  padding-top: 50px;
  margin-left: 40px; }

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px; }

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both; }

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px; } }

/* Style the counter cards */
.container-voluntering {
  height: 800px;
  background-color: #d3833E; }

.row-volunteering {
  display: flex;
  padding-left: 20px;
  justify-content: space-evenly; }

.volunteerbutton {
  border-color: #d3833E;
  background-color: gray; }

.card-1,
.card-2 {
  border-radius: 4px;
  background: #d3833E;
  padding-right: 10px;
  padding-left: 10px;
  cursor: pointer;
  width: 500px;
  border: none; }

.card:hover {
  transform: scale(1.05); }

.card h3 {
  font-weight: 600;
  text-align: center; }

.card-1 {
  background-repeat: no-repeat;
  background-position: right;
  height: 600px;
  margin-top: 100px; }

.card-2 {
  background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
  height: 500px;
  padding-top: 50px;
  margin-top: 100px;
  margin-left: 30px; }

.card-1 img {
  height: 500px;
  width: 350px;
  padding-bottom: 0px;
  margin-left: 80px;
  border: 5px solid; }

@media (max-width: 990px) {
  .card {
    margin: 20px; } }

/* fotos */
.container-photo {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  justify-items: center;
  grid-gap: 10px;
  width: 1200px;
  margin: 0 auto;
  padding-top: 10px; }

.grid {
  background-color: gray; }

.pic {
  width: 100%;
  overflow: hidden;
  background-color: #000; }

.photos {
  opacity: 0.6;
  width: 100%;
  height: auto;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s; }

.photos:hover {
  opacity: 1;
  transform: scale(1.03); }

/*========================= SignUp ================================*/
#sign-up {
  margin-top: 200px; }

/*========================= Login ================================*/
#login-pop-up {
  display: none;
  position: absolute;
  right: 100px;
  top: 100px;
  width: 500px;
  height: 400px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  opacity: .9;
  z-index: 4; }

#login-pop-up label {
  width: 100%; }

#login-pop-up input {
  width: 100%; }

#login-pop-up p {
  display: block;
  width: 100%;
  text-align: center; }

#login-pop-up button {
  position: relative;
  width: 84%;
  background-color: #f0684c;
  height: 35px;
  color: white;
  border-style: none;
  font-size: 14px;
  margin: 20px 8%; }

#auth-social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

/*====================== STORE ============================ */
#store-header {
  font-family: ‘Montserrat’, sans-serif;
  clear: both;
  background-color: white;
  color: black;
  padding: 160px 0 40px 0;
  text-align: center; }

#content {
  clear: both;
  overflow: auto;
  padding-top: 29px; }

#content .mainContent {
  width: 100%;
  text-align: center;
  padding: 5%; }

#content .mainContent .productRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: #929292; }

.mainContent .productRow .productInfo {
  padding: 20px;
  width: 300px;
  height: 380px;
  box-sizing: border-box;
  box-shadow: 0 0 3px black;
  transition: all .3s ease;
  margin-bottom: 50px; }

.mainContent .productRow .productInfo:hover {
  transform: scale(1.1); }

.productRow .productInfo > div {
  height: 150px; }

.productRow .productInfo > div img {
  max-height: 100%;
  width: auto; }

.productRow .productInfo .price {
  font-family: ‘Montserrat’, sans-serif;
  color: #929292;
  font-size: 22px;
  position: relative; }

.productRow .productInfo .productContent {
  position: relative;
  font-size: 14px;
  font-family: source-sans-pro, sans-serif;
  font-style: normal;
  font-weight: 200;
  color: #929292;
  white-space: pre-wrap; }

.productRow .productInfo form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.productRow .productInfo .buyButton {
  position: relative;
  width: 84%;
  background-color: #f0684c;
  height: 50px;
  color: white;
  border-style: none;
  font-size: 14px;
  margin-top: 8px; }

.productInfo div img {
  width: 100%; }

/*===================== Cart =====================*/
#cart-products {
  display: flex;
  width: 100%;
  background-color: #899f4a;
  margin: 15px 0;
  padding: 10px 30px; }

#cart-products h3 {
  font-size: 20px;
  margin-right: 18%; }

.cart-prod {
  display: flex;
  width: 100%;
  background-color: #f6f6f6;
  margin: 15px 0;
  padding: 10px 30px; }

.cart-prod > div {
  width: 25%; }

.cart-prod-name {
  display: inline-block; }

.cart-prod-price {
  display: inline-block; }

.cart-prod .qty {
  width: 40px; }

.cart-total {
  width: 100%;
  background-color: #f0684c;
  margin: 15px 0;
  padding: 10px;
  text-align: right; }

/*=================== My products =======================*/
.myproduct {
  padding: 20px;
  width: 300px;
  height: 480px;
  box-sizing: border-box;
  box-shadow: 0 0 3px black;
  transition: all .3s ease; }

.editButton {
  position: relative;
  width: 84%;
  background-color: green;
  height: 35px;
  color: white;
  border-style: none;
  font-size: 14px;
  margin-top: 8px; }

.deleteButton {
  position: relative;
  width: 84%;
  background-color: #f0684c;
  height: 35px;
  color: white;
  border-style: none;
  font-size: 14px;
  margin-top: 8px; }

/*============================ My place ==================================*/
.myplace {
  padding: 20px;
  width: 300px;
  height: 350px;
  box-sizing: border-box;
  box-shadow: 0 0 3px black;
  transition: all .3s ease; }

/*============================ Edit ==================================*/
#container-edit {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.product-content-edit {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto; }

.product-content-edit img {
  margin: 25px 0; }

.product-content-edit input {
  width: 100%; }

/*# sourceMappingURL=style.css.map */