//===================== Topbar Menu y Carousel =====================

.carousel-item {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .carousel-caption {
    bottom: 40%;
    h5 {
      font-size: 2.8rem;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-top: 25px;
    }
  }
}

nav {
  background-color: $transparent-black;
}

.navbar-light .navbar-brand {
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.navbar-toggler {
  background: #fff;
}

.navbar-nav {
  text-align: center;
}

.nav-link {
  padding: .2rem 1rem;
}

.nav-link.active,
.nav-link:focus {
  color: #fff;
}

.nav-item {
  position: relative;
  list-style: none;
  margin-right: 30px;
}

.inner-menu {
  display: none;
  position: absolute;
  right: -60px;
  background-color: #AFA77B;
  text-align: center;
  padding: 10px 0 10px 30px;
  text-transform: uppercase;
}

.inner-menu .nav-item {
  height: 40px;
}

.inner-menu .nav-item:hover {
  opacity: .8;
}

#profile-btn .inner-menu {
  width: 200px;
}

.navbar-toggler {
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0.3;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
}